{% extends './base.html'   %}

{% block title %} Name {% endblock%}

{%   block body%}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Lenguajes de Programación</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for leng in lenguajes%}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{leng}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{%  endblock %}s
